// Specific CSS for your home-page

a:hover {
  text-decoration: none;
  color: black;
  opacity: 0.7;
}

a {
  color: black;
  opacity: 1;
}

.btn-decoration {
  color: white;
}

.btn-decoration:hover {
  color: white;
}

.page-intro img {
  max-height: 300px;
  min-width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
