
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://modernfarmer.com/wp-content/uploads/2013/04/goat-firefighter.jpg);">
  <div class="container">
    <h1><strong>Welcome to Go Goats</strong></h1>
    <p>An innovative and sustainable way to prevent forest fires.</p>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Address" aria-label="Search">
      <button class="btn btn-primary btn-decoration my-2 my-sm-0" type="submit" >Search</button>
    </form>
  </div>
</div>
