
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://modernfarmer.com/wp-content/uploads/2013/04/goat-firefighter.jpg);">
  <div class="container">
    <h1><strong>Welcome to Go Goats</strong></h1>
    <p>An innovative and sustainable way to prevent forest fires.</p>

    <%= form_tag goats_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
      <%= search_field_tag :query,
        params[:query],
        autocomplete: "off",
        class: "form-control mr-sm-2",
        placeholder: "Look for an address"
      %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary my-2 my-sm-0" %>
    <% end %>

  </div>
</div>
