.create-card {
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 10px;
}

.card-goat {
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.card-goat img {
  height: 250px;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}
